body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

.main_width {
    width: 1056px;
    margin: 0 auto;
}

.top {
    background: #000;
    height: 40px;
    padding-top: 14px;
}

a.logo {
    color: #fff;
    display: block;
    float: left;
}

span.on {
    color: #27c7ab;
    font-weight: bold;
}

.firstul {
    float: right;
    position: relative;

}

nav.first li {
    display: inline;
    margin: 0 20px;
    background: #000;
}

.fist::after {
    content="";
    display: block;
    clear: both;
}

.firstul a {
    color: #fff;
    font-weight: bold;
}

ul.secondul {
    position: absolute;
    top: 15px;
    background: #000;
    padding-bottom: 10px;
    display:none;
    padding-top:15px;
}

ul.secondul li {
    display: block;
    margin: 0;
    padding: 0;
    background: #000;
    margin: 10px 20px 0 20px;
}

ul.secondul li a {
    font-weight: 400;
}
ul.menu-show{
    display:block;
}
.slider {
    height: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 22%, rgba(245, 245, 245, 1) 65%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(22%, rgba(255, 255, 255, 1)), color-stop(65%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 22%, rgba(245, 245, 245, 1) 65%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 22%, rgba(245, 245, 245, 1) 65%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 22%, rgba(245, 245, 245, 1) 65%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 22%, rgba(245, 245, 245, 1) 65%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}

.slider_content {
    height: 346px;
    margin-top: 180px;
}

.slider_content img {
    width: 51%;
    float: left;
}

a.slider_click {
    font-size: 40px;
    color: #27c7ab;
    display: block;
    float: left;
    width: 5%;
    text-align: center;
    padding-top: 10%;
}

.slider_third {
    width: 429px;
    height: 200px;
    width: 39%;
    float: left;
    margin-top: 50px;
    text-align: center;
}

.slider_third h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
}

.slider_third p {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.8;
}

.slider_third button {
    width: 260px;
    height: 52px;
    background: #27c7ab;
    border-radius: 3%;
    border: none;
    margin-top: 25px;
}

.slider_third button a {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.slider_content::after {
    content: "";
    clear: both;
    display: block;
}

.main_content {
    background: #fff;
    height: 350px;
    padding-top: 30px;
    margin-bottom: 60px;
}

.box_first {
    float: left;
    width: 30%;
    position: relative;
}

.box_second {
    float: left;
    width: 30%;
    margin-left: 5%;
    position: relative;
}

.box_third {
    width: 30%;
    border: 1px solid #cacaca;
    float: right;
    margin-left: 5%;
}

p.transparent {
    display: block;
    height: 60px;
    width: 331px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

a.podkreslenie {
    display: inline-block;
    width: 140px;
    border-bottom: 5px solid #27c7ab;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.main_content_boxes::after {
    content: "";
    clear: both;
    display: block;
}

.box_third {
    padding: 24px;
}

.box_third p {
    line-height: 1.8;
    font-size: 14px;
    margin-top: 10px;
}

.cennik {
    background: #ececec;
    height: 700px;
    padding-top: 30px;
}

h3.dol {
    display: block;
    width: 260px;
    border-bottom: 5px solid #27c7ab;
    color: #574f4f;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.one_third {
    height: 500px;
    width: 30%;
    float: left;
    margin-right: 3.33%;
    border: 1px solid #cacaca;
    margin-top: 60px;
    background: #f9f9f9;
    position: relative;
}

.one_third h4 {
    color: #27c7ab;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.circle_first {
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 45%;
}

.circle_firstb {
    background: #27c7ab;
    border: 1px solid #27c7ab;
}

.circle_second {
    width: 18px;
    height: 18px;
    background: #cacaca;
    margin: 8px 0 0 8px;
    border: 1px solid #cacaca;
    border-radius: 50%;
}

.circle_secondb {
    background: #ececec;
    border: 1px solid #ececec;
}

.one_second_div {
    background: #27c7ab;
}

.one_second_div h4 {
    color: #f9f9f9;
}

.big_circle {
    width: 100px;
    height: 100px;
    border: 1px solid #cacaca;
    border-radius: 50%;
    margin: 0 auto;
    padding: 24px 0 0 20px;
    color: #cacaca;
    background: #fff;
    margin-top: 30px;
}

.big_circle p:nth-of-type(1) {
    font-size: 30px;
    font-weight: bold;
}

.big_circleb {
    border: 1px solid #27c7ab;
    color: #27c7ab;
}

.one_third ul {
    margin-top: 40px;
    height: 200px;
    width: 98%;
    margin-left: 1%;
}

.one_third li {
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}

li.product-show{
    background: #e4e4e4;
}
.one_third li:nth-of-type(2n+1) {
    background: #f1f1f1;
    color: #777;
}

.ul_sec li:nth-of-type(2n) {
    background: #f1f1f1;
    color: #999999;
}

.ul_sec li:nth-of-type(2n+1) {
    background: #fff;
    color: #999999;
}

.one_third button {
    width: 120px;
    height: 36px;
    background: #27c7ab;
    border: 1px solid #27c7ab;
    border-radius: 7%;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-top: 22px;
}

.one_second_div button {
    background: #fff;
    border: 1px solid #fff;
    color: #27c7ab;
}

.cennik_boxes::after {
    content: "";
    clear: both;
    display: block;
}

.kontakt {
    background: #fff;
    padding-top: 30px;
}

.footer_form {
    height: 370px;
    margin-top: 30px;
}

.footer_form_left {
    width: 54%;
    float: left;
    height: 370px;
}

.footer_form_left .name {
    height: 55px;
    border: 1px solid #cacaca;
    display: block;
    width: 100%;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.footer_form_left .email {
    height: 55px;
    border: 1px solid #cacaca;
    display: block;
    margin-top: 30px;
    width: 100%;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.footer_form_left textarea {
    border: 1px solid #cacaca;
    display: block;
    height: 200px;
    margin-top: 30px;
    width: 100%;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding-top: 18px;
}

.footer_form_right {
    width: 36%;
    margin-left: 10%;
    float: right;
    height: 370px;
}

.footer_form_right img {
    width: 250px;
    height: 250px;
}

.footer_form_right label {
    display: block;
    height: 40px;
    width: 350px;
    font-size: 17px;
    position: relative;

}

label span {
    display: inline-block;
    margin-left: 45px;
    color: #999999;

}

.chcbx {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6px;

}


.submit {
    width: 285px;
    height: 50px;
    background: #27c7ab;
    border: 1px solid #27c7ab;
    border-radius: 4%;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top:28px;

}

.copy {
    height: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
    color: #777;
}

.copy p:nth-of-type(1) {
    float: left;
    padding-top: 6px;
}

.copy p:nth-of-type(2) {
    float: right;
    font-size: 24px;
}

.copy::after {
    clear: both;
    display: block;
    content: "";
}

.copy span {
    font-size: 16px;
    padding-left: 20px;
}

p.transparent-hide{
    display:none;
    height:0px;
}

/* css kalkulatora, gotowy z coderslab */
.application {
  background-color: #f9f9f9;
text-align:center;
}
.application h3 {
  color: #575757;
  font-size: 16px;
}

.application header.align_right{
  text-align: right;
}


.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}


.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 20px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
  display:none;
}
.transport-visible{
    display:block;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;

}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 20px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 20px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 40%;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 20px;
}

.panel_left span{
  margin-top:10px;
  font-size: 20px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 20px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:5px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}
/*dodajemy widocznosc dla listy po kliknieciu  w dana strzalke */
.list_panel_visible{
      display:block;
}
